
.continent__graph{
    display: flex;
    flex-direction: column;
}

.continent__graph__header{
    font-size: 3rem;
    letter-spacing: 1px;
}

.continent__graph__infected{
    margin-top: .5em;
    font-size: 2rem;
}
