
.country__details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto 5rem auto;
    width: 80%;
    
}

.country__details__image{
    width: 15rem;
}

.country__details__name{

    font-size: 7rem;
}