.continental__legends{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-self: center;
}

.piechart__tooltip{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,.7);
    pointer-events: none;
    min-width: 180px;

    padding: .5em 1em;
    font-size: 2rem;
}