.search__icon{
    color: var(--text-clr);
    width: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.search__wrapper{
    display: flex;
    align-items: center;
}


.back__icon{
    color: var(--text-clr);
    width: 2.5rem;
}

.search__bar{
    flex-grow: 1;
    height: 3rem;
    border-radius: 15px;
    border: none;
    padding-left: 1rem;

}

.back__btn{
    width: 4rem;
    height: 3rem;
}


.search__btn{
    width: 4rem;
    height: 3rem;
}

.navbar__link{
    font-size: 1.3rem;
    margin-right: 1.5rem;
    
    @media (min-width: 21.87em) {
        font-size: 1.5rem;
        margin-right: 3rem;
    }
}
